---
const {videoTitle, videoId, unlistedHash} = Astro.props;

let vimeoSrc = `https://player.vimeo.com/video/${videoId}`
if(unlistedHash) vimeoSrc += `?h=${unlistedHash}`
---

<div style="padding:56.25% 0 0 0; position:relative;">
  <iframe src={vimeoSrc} frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title={videoTitle}></iframe>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
